.shop-top__button
  box-shadow 0 3px 7px orange-background-color
  font-family: black-font-family
  border-radius: 34px
  font-size: em(24px)
  text-transform: uppercase
  text-align: center
  .button__text
    padding: 17px 73px
