.footer
  background-image: url(footer.jpg)
  background-repeat: no-repeat
  background-position: 0 100%
  background-size: cover
  color: light-color
  padding-top: 70px
  padding-bottom: 50px
  border-top: 5px solid orange-border-color
  text-shadow: 0 1px 1px #000