.button_theme_pinguin
	display: inline-block
	vertical-align: middle
	background-color orange-background-color
	box-shadow 0 3px 7px @background-color
	border-radius: 28px
	.button__text
		display inline-block
		vertical-align: middle
		font-family: extra-light-font-family
		color #fff
		text-decoration: none