@import "../partials/variables"
@import "../partials/mixins"
@import "../partials/fonts"

.page_theme_pinguin
  font-family: default-font-family
  font-size: em(16px)
  color: dark-color
  background-image: radial-gradient(ellipse, #FFF, #DEE2E4)
