.header-contacts__element
  margin-right: 50px
  width: 240px
  &:last-of-type
    margin-right: 0
  .icon
    margin-left: 5px
    path
      fill: light-color
  //.icon_glyph_volume-control-phone
  //  width: 20px
  //  transform: rotate(-35deg)
  .icon_glyph_paper-plane-o
    width: 20px
  .button__text
    line-height: 28px