.prices__button
  font-size: 20px
  text-transform: uppercase
  font-family: black-font-family
  border-radius: 30px
  box-shadow: 0 0 10px rgba(255, 102, 33, 0.2)
  padding: 20px 15px
  min-width: 225px
  line-height: 1
  text-shadow: none
  margin-top: 25px