// font
default-font-size = 16px
default-font-family = "RalewayRegular", san-serif
light-font-family = "RalewayLight", san-serif
light-color = #fff
dark-color = #282828

// backgroun
light-background-color = #fff
dark-background-color = #000

//border
light-border-color = #fff
dark-border-color = #000
orange-border-color = #FF6621
