// font
default-font-size = 16px
default-font-family = "RalewayRegular", san-serif
light-font-family = "RalewayLight", san-serif
extra-light-font-family = "RalewayExtraLight", san-serif
black-font-family = "RalewayBlack", san-serif
h-black-font-family = "HelveticaNeueCyrBlack", san-serif
bold-font-family = "RalewayBold", san-serif
thin-font-family = "RalewayThin", san-serif
h-thin-font-family = "HelveticaNeueCyrThin", san-serif
light-color = #fff
dark-color = #282828
orange-color = #f63

// backgroun
light-background-color = #fff
dark-background-color = #000
orange-background-color = #FF6621
//border
light-border-color = #fff
dark-border-color = #000
orange-border-color = #FF6621
//media
m-min = 40.063em
l-min = 64.063em
xl-min = 90.063em
xxl-min = 120.063em
m-max = l-min - 0.063em
l-max = xl-min - 0.063em
xl-max = xxl-min - 0.063em
